@font-face {
  font-family: inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  font-weight: 300;
  font-style: sans-serif;
}

@font-face {
  font-family: inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
  font-weight: 700;
  font-style: sans-serif;
}

*{
  font-family: inter;
  overflow: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}